{% if entity.current_node.enabled %}
Current node: {% if entity.current_node.name %}{{ entity.current_node.name }} {% endif %}({{ entity.current_node.id }})

  {% if entity.current_node.description %}
Description:
{{ entity.current_node.description|trim }}

  {% endif %}
{% endif %}
