Current node: {% if instance.current_node.name %}{{ instance.current_node.name }} {% endif %}({{ instance.current_node.slug }})

{% if instance.current_node.description %}
Description:
{{ entity.current_node.description|trim }}

{% endif %}
