.titleWrapper {
  flex-grow: 1;
  text-align: center;

  .title {
    display: inline-block;
    line-height: rem(18px);
    text-align: left;
    vertical-align: middle;
  }
}

.storyLinkWrapper {
  align-items: center;
  column-gap: var(--mantine-spacing-xs);
  width: 100%;
  flex-wrap: nowrap;

  .storyLink {
    flex-grow: 1;
    min-width: 0;
  }

  .actionIcons {
    flex-grow: 0;
    padding-right: var(--mantine-spacing-xs);
  }
}

.actionIcons {
  display: none;

  .storyLinkWrapper:hover & {
    display: inherit;
  }
}
