.message {
  &.userPrompt {
    --paper-shadow: var(--mantine-shadow-xs);
    background-color: rgba(255 255 255 / 5%);
    padding: var(--mantine-spacing-sm);
  }

  .text {
    font-size: var(--mantine-font-size-lg);

    & :global(.font-semibold) {
      font-weight: bold;
    }

    p {
      margin-top: var(--mantine-spacing-xs);
      margin-bottom: var(--mantine-spacing-xs);
    }

    > * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .thinkingPart {
    margin-bottom: var(--mantine-spacing-xs);

    .toggleBtn {
      border: none;
      color: var(--mantine-color-dimmed);
      font-size: var(--mantine-font-size-md);
      font-weight: normal;
      padding: 0;

      &:hover {
        color: var(--mantine-color-text);
      }

      .chevron {
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.15s;

        &.rot-0 {
          transform: rotate(0deg);
        }

        &.rot-180 {
          transform: rotate(180deg);
        }
      }

      .toggleBtnInner {
        justify-content: flex-start;
      }
    }

    .thinkingText {
      color: var(--mantine-color-dimmed);
      font-size: var(--mantine-font-size-md);
      margin-top: var(--mantine-spacing-xs);
    }
  }

  .toolPart {
    color: var(--mantine-color-dimmed);
    justify-content: space-between;
    gap: var(--mantine-spacing-xs) var(--mantine-spacing-xs);

    .title {
      gap: var(--mantine-spacing-xs);
      margin-right: var(--mantine-spacing-xl);
    }

    .data {
      gap: 0 var(--mantine-spacing-xs);
    }
  }
}
