## Story Arc: {{ arc.name }}
{% if arc.description %}

{{ arc.description|trim }}
{% endif %}

Current node: {{ arc.current.name }} ({{ arc.current.slug }})
{% if location.description %}

Current node description:
{{ arc.current.description|trim }}
{% endif %}
