{% extends "user_prompt.md.jinja2" %}
{% block user_input_part %}
# Introduction

  {% block user_input %}
Write the opening of the story.

- Introduce the player character, highlighting their defining traits.
- Establish the setting.
- Provide a compelling narrative entry point to begin the story.
  {% endblock user_input %}
{% endblock user_input_part %}
